body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg,#0a2a5e,#1e90ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  width: 100%;
  max-width: 420px;
  height: 90vh;
}

.screen {
  display: none;
  backdrop-filter: blur(20px);
  background: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 20px;
  height: 100%;
  overflow: hidden;
}

.screen.active {
  display: flex;
  flex-direction: column;
}

input,select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: rgba(255,255,255,0.2);
  color: white;
}

#videoList {
  flex: 1;
  overflow-y: auto;
  margin-top: 10px;
}

.phone-row {
  display:flex;
}

.info {
  margin-left:5px;
  cursor:pointer;
}

.info-box {
  display:none;
  font-size:12px;
  color:white;
}

.settings {
  display:none;
  color:white;
  font-size:12px;
}

.warn {
  font-size:12px;
  color:yellow;
}
